code {
    color: #ABB2BF;
}

.token.keyword,
.token.operator {
    color: #C678DD;
}

.token.punctuation {
    color: #ABB2BF;
}

.token.number {
    color: #D19A66;
}

.token.builtin {
    color: #56B6C2;
}

/* Java class name */
.token.class-name {
    color: #E5C07B
}

/* Python print */
.token.python-print-stmt {
    color: #56B6C2;
}

/* "file" variable name in Python*/
.token.file-name {
    color: #ABB2BF;
}

.token.comment {
    color: #5C6370
}

/* JavaScript function */
.token.function,
.token.function-variable.function {
    color: #61AFEF;
}

/* JavaScript Variable */
.token.literal-property.property {
    color: #61AFEF;
}

/* Swift nil */
.token.nil.constant {
    color: #D19A66;
}

.token.string {
    color: #98C379;
}

.token.operator {
	background: #282C34;
}

.token.property {
    color: #E06C75;
}
