code {
    color: #ABB2BF;
}

.token.keyword,
.token.operator,
.token.purple-js,
.token.fxml-purple {
    color: #C678DD;
}

.token.punctuation,
.token.constant,
.token.always-gray,
.token.gray-js,
.token.fxml-gray {
    color: #ABB2BF;
}

.token.number,
.token.self-orange, 
.token.orange-js {
    color: #D19A66;
}

/* Teal */
.token.builtin,
.token.teal-highlight,
.token.teal-js {
    color: #56B6C2;
}

.token.boolean {
  color: #D19A66;
}

/* Java class name and primitive types*/
.token.class-name,
.token.primitive-type,
.token.yellow-js {
    color: #E5C07B
}

/* Python print */
.token.python-print-stmt {
    color: #56B6C2;
}

/* "file" variable name in Python*/
.token.file-name {
    color: #ABB2BF;
}

.token.comment {
    color: #5C6370
}

:root {
    --token-operator-background: #282C34;
}

.token.operator {
	background: var(--token-operator-background);
}

/* JavaScript function */
.token.function,
.token.function-variable.function,
.token.always-blue,
.token.blue-js {
    color: #61AFEF;
}

/* JavaScript Variable */
.token.literal-property.property {
    color: #61AFEF;
}

/* Swift nil */
.token.nil.constant,
.token.fxml-orange {
    color: #D19A66;
}

.token.string,
.token.fxml-green {
    color: #98C379;
}

.token.property,
.token.self-red,
.token.red-js,
.token.fxml-red {
    color: #E06C75;
}

.token.json-colon {
    color: #ABB2BF;
}


.swift-class-name {
    color: #DEC1FF;
}

.swift-purple {
    color: #C08AFF;
}

.swift-keyword,
.swift-nil.constant,
.swift-pink {
    color: #FC6BAA;
}


.swift-teal {
    color: #42B8E0;
}

.swift-green {
    color: #72BFAE;
}

.swift-white {
    color: white;
}

.swift-operator,
.swift-punctuation {
    color: white;
}

.swift-string {
    color: #FC7467;
}