.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5C6370;
}

.token.punctuation {
	color: #ABB2BF;
}

.token.property,
.token.tag,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
	color: #E06C75;
}

.token.boolean,
.token.number {
  color: #D19A66;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
	color: #98C379;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  color: #ABB2BF;
	background: #282C34;
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
	color: #1990b8;
}

.token.regex,
.token.important {
	color: #e90;
}